[submodule "AssaultCubeCheat/kiero"]
	path = AssaultCubeCheat/kiero
	url = https://github.com/Rebzzel/kiero.git
[submodule "AssaultCubeCheat/imgui"]
	path = AssaultCubeCheat/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "AssaultCubeCheat/SDL"]
	path = AssaultCubeCheat/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.32.x
